/* Unstyling range inputs in all browsers to apply customs' */
    input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
    }
    input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
    
        /* Hides the slider so custom styles can be added */
        background: transparent; 
        border-color: transparent;
        color: transparent;
    }

/* CUSTOM STYLING */

    /* *** Styling Thumb *** */
        /* Special styling for WebKit/Blink */
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;

            height: 36px;
            width: 36px;

            border: none;
            border-radius: 100%;

            background: var(--strongCyan);
            background-image: url('../../assets/images/icon-slider.svg');
            background-repeat:no-repeat;
            background-position: center; 

            margin-top: -14px;;

            cursor: pointer;

            box-shadow: 0px 15px 34px 5px var(--softCyan);
            -webkit-box-shadow: 0px 15px 34px 5px var(--softCyan);
            -moz-box-shadow: 0px 15px 34px 5px var(--softCyan);
        }
        input[type=range]::-webkit-slider-thumb:active {
            background-color: hsl(174, 86%, 35%);
        }
        
        /* All the same stuff for Firefox */
        input[type=range]::-moz-range-thumb {    
            height: 36px;
            width: 36px;

            border: none;
            border-radius: 100%;

            background: var(--strongCyan);
            background-image: url('../../assets/images/icon-slider.svg');
            background-repeat:no-repeat;
            background-position: center; 

            cursor: pointer;

            box-shadow: 0px 15px 34px 5px var(--softCyan);
            -webkit-box-shadow: 0px 15px 34px 5px var(--softCyan);
            -moz-box-shadow: 0px 15px 34px 5px var(--softCyan);
        }
        input[type=range]::-moz-range-thumb:active {
            background-color: hsl(174, 86%, 35%);
        }

        /* All the same stuff for IE */
        input[type=range]::-ms-thumb {
            height: 36px;
            width: 36px;

            border: none;
            border-radius: 100%;

            background: var(--strongCyan);
            background-image: url('../../assets/images/icon-slider.svg');
            background-repeat:no-repeat;
            background-position: center; 

            cursor: pointer;

            box-shadow: 0px 15px 34px 5px var(--softCyan);
            -webkit-box-shadow: 0px 15px 34px 5px var(--softCyan);
            -moz-box-shadow: 0px 15px 34px 5px var(--softCyan);
        }
        input[type=range]::-ms-thumb:active {
            background-color: hsl(174, 86%, 35%);
        }
    
    /* *** Styling the Track *** */
        /* Chrome */
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: var(--lightGrayishBlue);
            border-radius: 5px;
            border: none;
        }
            
        /* input[type=range]:focus::-webkit-slider-runnable-track {
            background: transparent;
        } */

        
        /* Firefox */
        input[type=range]::-moz-range-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: var(--lightGrayishBlue);
            border-radius: 5px;
            border: none;
        }
        input::-moz-range-progress {
            height: 8.4px;
            background: var(--softCyan);
            border: 0;
            border-radius: 5px;
            margin-top: 0;
        }


        /* input[type=range]::-ms-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }
        input[type=range]::-ms-fill-lower {
            background: #2a6495;
            border: none;
            border-radius: 2.6px;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: var(--softCyan);
        }
        input[type=range]::-ms-fill-upper {
            background: var(--softCyan);
            border: none;
            border-radius: 2.6px;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: transparent;
        } */
