@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root{
  /* PRIMARY */
  /* (Full Slider Bar) */
  --softCyan: hsl(174, 77%, 80%);
  /* (Slider Backround) */
  --strongCyan: hsl(174, 86%, 45%);
  /* (Discount Background) */
  --lightGrayishRed: hsl(14, 92%, 95%);
  /* (Discount Text) */
  --lightRed: hsl(15, 100%, 70%);
  /* (CTA Text) */
  --paleBlue: hsl(226, 100%, 87%);

  /* NEUTRAL */
  /* (Pricing Component Background) */
  --white:  hsl (0, 0%, 100%); 
  /* (Main Background) */
  --veryPaleBlue: hsl(230, 100%, 99%);
  /* (Empty Slider Bar) */
  --lightGrayishBlue: hsl(224, 65%, 95%);
  /* (Toggle Background) */
  --lightGrayishBlue: hsl(223, 50%, 87%);
  /* (Text) */
  --grayishBlue: hsl(225, 20%, 60%);
  /* (Text & CTA Background) */
  --darkDesaturatedBlue: hsl(227, 35%, 25%);
}


body {
  margin: 0;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: var(--grayishBlue);
}

/* TEXTS */
.text-center{
  text-align: center;
}

/* MARGIN */
.ml-3{
  margin-left: .3rem;
}

/* CARDS */
.card {
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 0 5px .875rem 2px rgba(41,48,66,.05);
}

.card .card-body{
	padding: 30px;
}

.card .card-footer{
	padding: 30px;

  border-top: 1px solid var(--lightGrayishBlue);
}

/* FLEXBOX */
.d-flex{
  display: flex;
}

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%
}

.col-auto {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%
}

.col-1 {
  -webkit-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%
}

.col-2 {
  -webkit-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%
}

.col-3 {
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%
}

.col-4 {
  -webkit-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%
}

.col-5 {
  -webkit-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%
}

.col-6 {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}

.col-7 {
  -webkit-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%
}

.col-8 {
  -webkit-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%
}

.col-9 {
  -webkit-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%
}

.col-10 {
  -webkit-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%
}

.col-11 {
  -webkit-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%
}

.col-12 {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}

@media (min-width:576px) {
  .col-sm {
      -webkit-flex-basis: 0;
      flex-basis: 0;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      max-width: 100%
  }
  .col-sm-auto {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%
  }
  .col-sm-1 {
      -webkit-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%
  }
  .col-sm-2 {
      -webkit-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%
  }
  .col-sm-3 {
      -webkit-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%
  }
  .col-sm-4 {
      -webkit-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%
  }
  .col-sm-5 {
      -webkit-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%
  }
  .col-sm-6 {
      -webkit-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%
  }
  .col-sm-7 {
      -webkit-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%
  }
  .col-sm-8 {
      -webkit-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%
  }
  .col-sm-9 {
      -webkit-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%
  }
  .col-sm-10 {
      -webkit-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%
  }
  .col-sm-11 {
      -webkit-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%
  }
  .col-sm-12 {
      -webkit-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%
  }
}